/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */



	#loader{
           display: block;
           margin: auto;
       }

	.article-body {
	margin-bottom: 40px;
	}

	.user-body {
    	margin: 43px;
    	border: 1px solid #c3c3c3;
    	padding: 22px;
	}

	.date {
	font-weight: bold;
	padding-bottom: 12px;
	}

	h1.page-header {
    	margin-left: 44px;
	}

	a.button.btn {
   	background: #337ab7;
    	color: #fff;
	}

	h1.article-title {
    	margin-top: 50px;
	}

	h1.article-title:not(:first-child) {
    	border-top: 1px solid gray;
    	padding-top: 18px;
	}